
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon --> 
    <link rel="icon" href="{% static 'image/WODLOG_logo.png' %}">
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
    <!-- kakao -->
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <title>WODLOG 와드로그</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!--font-->
    <link href="https://font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <link href="https://font.elice.io/EliceDigitalCoding.css" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}

    <style>
      html, body { font-family: "Elice Digital Baeum", sans-serif; padding-top: 35px;}

    </style>
    {% block style %}{% endblock style %}
   
  </head>

  <body>

    {% include 'navbar.html' %}
    {% include 'controller.html' %}

    {% comment %} <div id="wrapper-body" class="dark:bg-gray-900"> {% endcomment %}
      {% block content %}{% endblock content %}
    {% comment %} </div> {% endcomment %}

    {% include 'footer.html' %}

    {% block script %}{% endblock script %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  </body>

</html>