{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
{% endblock style%}

{% block content %}
<div class="calendar-body">
  <div class="calendar">
    <div class="calendar_header">
      <div class="calendar_nav">
        <button class="nav-btn go-prev">&lt;</button>
        <span class="year"></span>년
        <span class="month"></span>월
        <!-- <button class="nav-btn go-today">오늘로 가기</button> -->
        <button class="nav-btn go-next">&gt;</button>
      </div>
    </div>
    <div class="calendar_main">
      <div class="days">
        <div class="day">일</div>
        <div class="day">월</div>
        <div class="day">화</div>
        <div class="day">수</div>
        <div class="day">목</div>
        <div class="day">금</div>
        <div class="day">토</div>
      </div>
        <div class="dates"></div>
    </div>
  
    <!-- 운동일지 디테일 창 -->
    <div class="resv-wrapper">
      <div class="resv-bg">
        <button class="resv-close">X</button>
        <div class="resv_info">
          <div class="resv_ym">
            <span id="year"></span>년
            <span id="month"></span>월
            <span id="date"></span>일
            {% comment %} <span id="selected_date"></span> {% endcomment %}
          </div>

          {% comment %} 해당 날짜에 일지 있으면 아래 버튼 숨김해야 함{% endcomment %}
          <button> 
            <a href="{% url 'logs:write'%} ">일지 쓰기</a>
          </button>
           
          <h3>
              운동 목록 
          </h3>
          <table class="table table-borderless resv-list col" id="logTable">
            
            <tbody>
              
            </tbody>               
          </table>                    
          <h3>
              프로그램 목록
          </h3>
          <div class="resv-event">
            <p>EVNET 1 <span>12:30</span></p>
            <p>EVNET 2 <span>14:30</span></p>
            <p>EVNET 3 <span>17:30</span></p>
          </div>
        </div>
        <div class="resv_set">
          <input class="resv_set time" type="time" name="" id="">
          <button class="resv_btn purchase">예약</button>
          <button class="resv_btn cancel">예약취소</button>
        </div>

        <div class="log-item" data-log-id="{{ log.id }}">
          <!-- 로그 정보 표시 -->
        </div>
      </div>
    </div>
    
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% comment %} <script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/writing.js' %}" ></script> {% endcomment %}
{% endblock content %}

