{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}

<form action="{% url 'logs:write' %}" method="post" enctype="multipart/form-data" novalidate>
  <div class="border p-5 rounded-lg">
    {% csrf_token %}
    {% comment %} {{form.as_p}} {% endcomment %}
    <p>{{form.title|as_crispy_field}}</p>

 <div class="row">
    <div class="col">
      {{ form.today_condition|as_crispy_field }}
    </div>
    <div class="col">
      {{ form.illness|as_crispy_field }}
    </div>
    <div class="col">
      {{ form.illness_range|as_crispy_field }}
    </div>
  </div>

    {{form.warmup|as_crispy_field}}
    {{form.conditioning|as_crispy_field}}
    {{form.strength|as_crispy_field}}
    {{form.weightlifting|as_crispy_field}}
    {{form.accessories|as_crispy_field}}

  <div class="row">
    <div class="col">
      {{form.exercise|as_crispy_field}}
    </div>
    <div class="col">
      {{form.weight|as_crispy_field}}
    </div>
    <div class="col">
      {{form.weight_unit|as_crispy_field}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{form.wod|as_crispy_field}}
    </div>
    <div class="col">
      {{form.time|as_crispy_field}}
    </div>
    <div class="col">
      {{form.time_unit|as_crispy_field}}
    </div>
  </div>
  
  <div class="inline-block">
    {{ form.image|as_crispy_field }}
  </div> 
  
  <div class="inline-block">
    {{ form.video|as_crispy_field }}
  </div>  

  {{form.visibility|as_crispy_field }}
  <input type="hidden" name="new_date" value="{{ selected_date }}">

  <input class="mx-3 btn btn-outline-primary col-1" type="submit">
  <a class="btn btn-outline-info" href="{% url 'logs:calendar' %}">돌아가기</a>
</form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


  const selected_date = JSON.parse(localStorage.getItem("selected_date"));

  document.querySelector('input[name="new_date"]').value = selected_date;
  const my = document.querySelector('input[name="new_date"]');
  console.log(my)
  console.log(selected_date)

// 보낼 데이터
var postData = {
    new_date: selected_date
};
console.log(postData)

// Ajax POST 요청 보내기
$.ajax({
    url: "/logs/write/", // 요청을 보낼 URL
    method: "POST", // POST 메서드 사용
    data: postData, // 보낼 데이터
    success: function (response) {
        // 성공 시 처리
        console.log("요청이 성공했습니다.");
        console.log(response);
    },
    error: function (error) {
        // 오류 시 처리
        console.log("오류가 발생했습니다.");
        console.log(error);
    }
});  
</script>

{% endblock content %}

